body {
    background-color: #f18322;
    font-family: cursive;
    font-size: 20px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
  }
  input[type='text'],
  select {
    width: 95%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
  }
  input[type='password'],
  select {
    width: 95%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
  }
  input[type='email'],
  select {
    width: 95%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
  }
  
  input[type='submit'] {
    width: 50%;
    background-color: #028c8c;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }
  
  input[type='submit']:hover {
    background-color: #45a049;
  }
  
  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  #menu ul li a:hover {
    background-color: #d6d6d6;
    color: #6d6d6d;
    border-bottom: 3px solid #f18322;
  }
  #menu ul {
    padding: 0px;
    margin: 0px;
    background-color: #000000;
    list-style: none;
  }
  #menu ul li {
    display: inline;
  }
  #menu ul li a {
    padding: 2px 50px;
    display: inline-block;
  
    /* visual do link */
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
    border-bottom: 3px solid #ededed;
  }
  .container {
    width: 900px;
    background-color: black;
    border-radius: 40px;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* .navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem 0.8rem;
  } */
  