td {
    text-align: center;
  }
  table {
    width: 100%;
  }
  
  tr {
    height: 70px;
    background-color: white;
   
    
  }
  .topo{
    background-color: #f18322;
    color: white;
  }
  .flex-box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container-box {
    background-color: #028c8c;
    height: 300px;
  }
  
 
  
 